extends layout-admin

block content

	.container
		.row
			.col-md-12
				.panel
					.panel-body
						.row
							</br>
							.col-md-2.col-sm-3.text-center
								button.btn.btn-info.btn-block(style="margin-top: 75px;") Edit
							.col-md-10.col-sm-9
								h2 About us
								.row
									.col-xs-9
										p
											|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
											|Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
											|dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
											|Aliquam in felis sit amet augue.
									.col-xs-3
	.container
		.row
			.col-md-12
				.panel
					.panel-body
						.row
							</br>
							.col-md-2.col-sm-3.text-center
								button.btn.btn-info.btn-block(style="margin-top: 75px;") Edit
							.col-md-10.col-sm-9
								h2 Contact
								.row
									.col-xs-9
										p
											|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
											|Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
											|dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
											|Aliquam in felis sit amet augue.
									.col-xs-3
	.container
		.row
			.col-md-12
				.panel
					.panel-body
						.row
							</br>
							.col-md-2.col-sm-3.text-center
								button.btn.btn-info.btn-block(style="margin-top: 75px;") Edit
							.col-md-10.col-sm-9
								h2 Other
								.row
									.col-xs-9
										p
											|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
											|Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
											|dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
											|Aliquam in felis sit amet augue.
									.col-xs-3
		

